name: Publish and Purge CDN

on:
  push:
    branches:
      - main   # automatically run on pushes to main

jobs:
  purge-jsdelivr:
    runs-on: ubuntu-latest
    steps:
      - name: Purge jsDelivr cache
        run: |
          echo "Purging jsDelivr cache for pinglet-sse.js..."
          curl -s https://purge.jsdelivr.net/npm/@enjoys/pinglet@latest/pinglet-sse.js
